<!DOCTYPE html>
<html>
<head>
    <title>Java Addition Application</title>
</head>

<body>

    <h1>Java Addition Application</h1>

    <form action="/add" method="post">

        <label>Enter First Number:</label>
        <input type="number" name="num1" required>

        <br><br>

        <label>Enter Second Number:</label>
        <input type="number" name="num2" required>

        <br><br>

        <button type="submit">Add</button>

    </form>

    <div th:if="${result != null}">
        <h2>
            Result:
            <span th:text="${num1}"></span>
            +
            <span th:text="${num2}"></span>
            =
            <span th:text="${result}"></span>
        </h2>
    </div>

</body>
</html>
